@mixin get-images($image) {
    position: relative;
    background-image: url(map-get($image, small));
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
    background-color: hsla(0, 0, 0, .3);
    background-blend-mode: darken;

    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 3px;
        background: linear-gradient(to left, transparent, steelblue, transparent);
        z-index: var(--z-tooltip);
    }
    
    @media screen and (min-width: map-get($breakpoints, medium)) {
        background-image: url(map-get($image, medium));
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        background-image: url(map-get($image, large));
    }

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        background-image: url(map-get($image, xlarge));
    }
}
