.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.main-menu {
    // display: none;
    position: absolute;
    z-index: var(--z-normal);

    //@media screen and (min-width: map-get($breakpoints, xlarge)) {
        display: flex;
        width: 100%;
    //}
}

.main-menu,
.main-menu__toggle {
    align-self: flex-end;
}

.main-menu__toggle,
.main-menu__list {
    margin-top: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

.main-menu__toggle {
    width: 25px;
    height: 25px;

    @media screen and (min-width: map-get($breakpoints, xlarge)) {
        display: none;
    }
}
.main-menu__list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.main-menu__item {
    padding: 1em;
}

.main-menu__link::after,
.main-menu__link--current::after {
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
}

.main-menu__link {
    position: relative;

    &::after {
        transition: width .2s ease-in-out;
    }

    .main-menu__item:hover &::after {
        width: 100%;
    }
}

.main-menu__link--current {

    &::after {
        width: 100%;
    }
}

.main-section__text-container,
.header__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.rules,
.not-found {
    margin-top: auto;
    margin-bottom: auto;
}



[class^="main-section"],
.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.footer {
    height: 200px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer__social-list {
    display: flex;
    gap: 2rem;
    padding-left: 0;
}

.footer__social-icon--gitlab,
.footer__social-icon--slack {
    width: 32px;
    height: 30px;
}

.project-card,
.tool-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.project-card__image {
    max-height: 346px;
}

.project-card__text-container,
.tool-card__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card__link,
.tool-card__link {
    padding: .7em 1em;
}